name: MLOps Pipeline

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Updated to v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Lint Check
        run: |
          pip install ruff==0.1.14
          ruff check .
          ruff format --check .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          # CPU-only saves space and prevents OOM errors in CI
          pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
          pip install pytest -e .
      - name: Run Unit Tests
        run: pytest tests/
